@font-face {
    font-family: 'Effra';
    src: url('alfont_com_AlFont_com_Effra_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* global */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    direction: rtl;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Effra';
}

body {
    background-color: rgb(26, 26, 26);
}

.standard-con {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 200%;
    left: 200%;
    border: solid red;
}

.standard {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dimensions {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

.hero .section .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    position: absolute;
    top: 11%;
    left: 8%;
    color: #fff;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 8%;
    font-size: 2vh;
    cursor: pointer;
}

.back-btn i {
    margin-top: 9%;
}

.logo-box {
    width: 30%;
    aspect-ratio: 1/.7;
    position: relative;
    overflow: hidden;
}

.logo-box img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.branch p {
    color: #fff;
    width: 84.72222222222222%;
    line-height: 115%;
}

.branch video {
    width: 84.72222222222222%;
}

.branch .qr-box {
    width: 84.72222222222222%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px #fff;
    padding-top: 10px;
}

.branch .qr-box img {
    width: 8%;
    background-color: #fff;
    padding: .5%;
}

.branch .qr-box p {
    width: fit-content !important;
}

.branch p {
    text-align: justify;
    text-align-last:center ;
}



.mid-title {
    color: #012938;
}

.goals-container {
    width: 84.72222222222222%;
}

.goals-container .goals-row {
    width: 100%;
    display: flex;
}

.goals-container .goal-box {
    width: 50%;
    border-top: solid 2px #fff;
}

.goals-container .goal-box .num {
    border: solid 2px #fff;
    width: 13%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.goals-container .goal-box:nth-child(1) p {
    width: 90%;
}

.goals-container .goal-box p {
    width: 100%;
}
.ar-mode .goals-container .goal-box p {
    width: 100%;
    text-align: right;
    text-align-last:right ;
}

/* differents */

/* ########### hero ############### */
.hero .main-page {
    background-image: url(Capture.png);
    display: block;
}

.hero .main-page .content-container {
    padding: 20% 0px;
}

.hero .main-page .logo {
    width: 55%;
}

.hero .main-page .video-box {
    position: relative;
    width: 75%;
    aspect-ratio: 1/.7;
    overflow: hidden;
}

.hero .main-page .video-box video {
    width: 123%;
    position: absolute;
    top: -68%;
    left: 50%;
    transform: translateX(-50%);
}

.hero .main-page .banner-box {
    width: 80%;
}

.hero .main-page .banner-box .main-title {
    color: #fff;
    background-color: #0f2937;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 3% 0px;
    position: relative;
    font-weight: 500;
}

.hero .main-page .banner-box .main-title::after {
    content: " ";
    position: absolute;
    top: -3px;
    right: -6%;
    width: 24%;
    height: 15%;
    background-color: #b31932;
}

.hero .main-page .banner-box .main-title::before {
    content: " ";
    position: absolute;
    bottom: -3px;
    left: -6%;
    width: 24%;
    height: 15%;
    background-color: #ff9419;
}

.hero .main-page .banner-box p {
    text-align: justify;
    margin: 6% 0px;
}

.hero .main-page .banner-box p span {
    font-size: inherit;
    display: block;
    text-align: center;
}

.hero .main-page .banner-box .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero .main-page .banner-box .btn-container button {
    width: 40%;
    background-color: #8eb6b1;
    color: #fff;
    padding: 1.1vh 0px;
    border-radius: .4vw;
    cursor: pointer;
}


/* ############## menu ############### */

.menu {
    background-color: #012938;
}

.menu .menu-logo {
    width: 60%;
}

.menu .back-btn {
    background-color: #85b8b1;
}

.menu .menu-container {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    gap: 14px;
    justify-content: center;
}

.menu .menu-container button {
    width: calc((100% - 14px) / 2);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu .menu-container button img {
    width: 90%;
}

.menu .menu-container button:hover {
    box-shadow: 0px 0px 7px #fff;
}

/* motargem */

.motargem {
    background-color: #85b8b1;
}

.motargem .back-btn {
    background-color: #012938;
}

.motargem .branch-img {
    width: 93%;
    display: block;
    margin-left: auto;
}

/* moltaka */

.moltaka {
    background-color: #012938;
}

.moltaka .back-btn {
    background-color: #85B8B1;
}

.moltaka .hash {
    color: #85B8B1;
}

.moltaka .branch-img {
    margin-left: auto;
    width: 56%;
}

/* mobadra */

.mobadra {
    background-color: #85B8B1;
}

.mobadra .back-btn {
    background-color: #012938;
}


.mobadra .goals-container .goal-box .num {
    background-color: #85B8B1;
    color: #012938;
}

.mobadra .branch-img {
    width: 93%;
    margin-right: auto;
}

/* dalil */

.dalil {
    background: #780A47;
}

.dalil .back-btn {
    background: #E1912E;
}

.dalil .branch-img {
    width: 93%;
    display: block;
    margin-right: auto;
}

/* korsy */

.korsy {
    background: #85B8B1;
}

.korsy .back-btn {
    background: #012938;
}

.korsy .goals-container .goal-box .num {
    background-color: #85B8B1;
    color: #012938;
}

.korsy .branch-img {
    width: 45%;
    margin-left: auto;
}

/* marsad */

.marsad {
    background: #012938;
}

.marsad .back-btn {
    background: #85B8B1;
}

.marsad .mid-title {
    color: #85B8B1;
}

.marsad .goals-container .goal-box .num {
    background: #012938;
    color: #85B8B1;
}

.marsad .branch-img {
    width: 93%;
    margin-right: auto;
}

/* trainning1 */

.trainning1 {
    background: #780A47;
}

.trainning1 .mid-title {
    color: #E1912E;
}

.trainning1 .back-btn {
    background: #E1912E;
}


.trainning1 .goals-container .goal-box .num {
    background: #780A47;
    color: #E1912E;
}

.trainning1 .branch-img {
    width: 93%;
    margin-right: auto;
}

.goals-container .grow-num {
    width: 6.5% !important;
}

/* quality */

.quality {
    background: #780A47;
}

.quality .mid-title {
    color: #E1912E;
}

.quality .back-btn {
    background: #E1912E;
}


.quality .goals-container .goal-box .num {
    background: #780A47;
    color: #E1912E;
}

.quality .goals-container .grow-num {
    width: 6.5%;
}

/* ershaad */

.ershaad {
    background-color: #85b8b1;
}

.ershaad .back-btn {
    background-color: #012938;
}

.ershaad .branch-img {
    width: 93%;
    display: block;
    margin-left: auto;
}

/* trainning2 */

.trainning2 {
    background-color: #012938;
}

.trainning2 .back-btn {
    background-color: #85B8B1;
}

.trainning2 .branch-img {
    width: 93%;
    display: block;
    margin-right: auto;
}

.trainning2 .mid-title {
    color: #85B8B1;
}

.trainning2 .goals-container .goal-box .num {
    background: #012938;
    color: #85B8B1;
}

/* quality */

.quality2 {
    background: #780A47;
}

.quality2 .branch-img {
    width: 93%;
    margin-right: auto;
}

.quality2 .mid-title {
    color: #E1912E;
}

.quality2 .back-btn {
    background: #E1912E;
}

/* english */

/* motargem */
.ershaad-en,
.mobadra-en,
.moltaka-en .back-btn,
.motargem-en,
.trainning2-en .back-btn {
    background-color: #85b8b1
}

.ershaad-en,
.mobadra-en,
.moltaka-en,
.motargem-en,
.trainning2-en {
    direction: ltr;
}

.ershaad-en .back-btn,
.mobadra-en .back-btn,
.moltaka-en,
.motargem-en .back-btn,
.trainning2-en {
    background-color: #012938
}

.ershaad-en .branch-img,
.motargem-en .branch-img {
    width: 93%;
    display: block;
    margin-left: auto
}

.marsad-en .mid-title,
.moltaka-en .hash,
.trainning2-en .mid-title {
    color: #85b8b1
}

.moltaka-en .branch-img {
    margin-left: auto;
    width: 56%
}

.korsy-en .goals-container .goal-box .num,
.mobadra-en .goals-container .goal-box .num {
    background-color: #85b8b1;
    color: #012938
}

.marsad-en .branch-img,
.mobadra-en .branch-img,
.quality2-en .branch-img,
.trainning1-en .branch-img {
    width: 93%;
    margin-right: auto
}

.dalil-en,
.quality-en,
.quality2-en,
.trainning1-en {
    background: #780a47
}

.dalil-en .back-btn,
.quality-en .back-btn,
.quality2-en .back-btn,
.trainning1-en .back-btn {
    background: #e1912e
}

.dalil-en .branch-img,
.trainning2-en .branch-img {
    width: 93%;
    display: block;
    margin-right: auto
}

.korsy-en,
.marsad-en .back-btn {
    background: #85b8b1
}

.korsy-en .back-btn,
.marsad-en {
    background: #012938
}

.korsy-en .branch-img {
    width: 45%;
    margin-left: auto
}

.marsad-en .goals-container .goal-box .num,
.trainning2-en .goals-container .goal-box .num {
    background: #012938;
    color: #85b8b1
}

.quality-en .mid-title,
.quality2-en .mid-title,
.trainning1-en .mid-title {
    color: #e1912e
}

.quality-en .goals-container .goal-box .num,
.trainning1-en .goals-container .goal-box .num {
    background: #780a47;
    color: #e1912e
}

.goals-container .grow-num {
    width: 6.5% !important
}

.quality-en .goals-container .grow-num {
    width: 6.5%
}

.goals-con-en p {
    text-align: left !important;
    margin-right: auto;
}

.goals-con-en .num {
    transform: translateX(-620%) translateY(-50%) !important;
}

.trainning1-en .num {
    transform: translateY(-50%) translateX(-340%) !important;
}

.quality-en .num {
    transform: translateY(-50%) translateX(-340%) !important;
}

.center-grow .num {
    transform: translateY(-50%) translateX(-701%) !important;
}

.trainning1-en .goal-box p {
    text-align: center !important;
    text-align-last: center !important;
    width: 90% !important;
    margin: auto !important;
}

.quality-en .goal-box p {
    text-align: center !important;
    width: 90% !important;
    margin: auto !important;
}

/* edit */

.hero .main-page .banner-box .btn-container button {
    aspect-ratio: 247 / 90;
    width: calc((257 / 1080) * 100%);
    padding: 0%;
}

.branch .qr-box {
    border-top: solid 1px #fff;
    padding-top: 3%;
}

.branch .qr-box img {
    width: calc(.1039387308533917 * 100%);
}

.back-btn {
    top: auto;
    bottom: 1%;
    left: 7.5%;
    width: calc((81/1080)* 100%);
}

.mobadra .logo-box {
    width: calc((272 / (1080 - (1080 * 15%))));
    aspect-ratio: 272 / 218;
}

.goals-container .goal-box .num {
    width: 11%;
}

.branch video {
    margin-bottom: 2%;
    margin-top: 2%;


}

.mid-title{
    margin: 2% 0px;
}

.goals-container .goal-box .num{
    line-height: 77%;
}

.ar-mode .qr-box p{
    text-align: right !important;
    text-align-last:right  !important;
}

.en-mode .qr-box p{
    text-align: left !important;
    text-align-last:left !important ;
}

.ar-mode .goal-box p{
    text-align: right ;
    text-align-last:right  ;
}

.en-mode .goal-box p{
    text-align: left ;
    text-align-last:left  ;
    direction: ltr;
}

.trainning1-en .goals-container .goal-box {
    position: relative;
    padding-top: 5%;
}

.trainning1-en .goals-container .goal-box .num{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) !important;

}

/* ######## */

.menu-ar img{
    transform: scale(.8);
}